<div 
  class="absolute rounded-full pointer-events-none -z-50" 
  style="
    width: 200px;
    height: 200px;
    background: rgba(37, 99, 235, 0.4);
    top: {{ top|default('auto') }};
    left: {{ left|default('auto') }};
    right: {{ right|default('auto') }};
    bottom: {{ bottom|default('auto') }};
    opacity: 0.4;
    filter: blur(20px);
    z-index: 0;
  ">
</div>